aside h1{
    font-family: 'Comic Neue', cursive;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span {
    color: #FF5678;
}

main {
    width: 600px;
    height: 520px;
    border: 1px solid rgb(0, 0, 0, 0.15);
}

main h2 {
    width: 402px;
}